<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h2>Team Name: <%= @name %><br>
        Coach: <%= @coach %><br>
        Point Guard: <%= @pguard %><br>
        Shooting Guard: <%= @sguard %><br>
        Power Forward: <%= @pforward %><br>
        Center: <%= @center %><br>
    <h2>
 </body>
</html>


